<div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     List of Products
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th data-breakpoints="xs">NO</th>
            <th>Product ID </th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Category</th>        
            <th data-breakpoints="xs sm md" data-title="DOB">Description</th>
          </tr>
        </thead>
        <tbody>
          {{#each product}}
          <tr data-expanded="true">
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.id}}</td>
            <td>{{this.product_name}}</td>
            <td>{{this.price}}</td>
            <td>{{this.cate_name}}</td>
            <td>{{this.descriptions}}</td>
            <td>
              <a href="/updateproduct/{{this.id}}" class="active" ui-toggle-class="">
                <i class="fa fa-pencil-square-o text-success text-active"></i>
              </a>
              <a href="/deleteproduct/{{this.id}}" class="active" ui-toggle-class="">
                <i class="fa fa-times text-danger text"></i>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>