<div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     List of Customers
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th data-breakpoints="xs">NO</th>
            <th data-breakpoints="xs">ID</th>
            <th> Name</th>
            <th>Phone</th>
            <th data-breakpoints="xs">Email</th>
           
            <th data-breakpoints="xs sm md" data-title="DOB">Address</th>
          </tr>
        </thead>
        <tbody>
          {{#each customer}}
          <tr data-expanded="true">
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.cusid}}</td>
            <td>{{this.cus_name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.address }}</td>
            <td>
              <a href="/updatecustomer/{{this.cusid}}" class="active" ui-toggle-class="">
                <i class="fa fa-pencil-square-o text-success text-active"></i>
              </a>
              <a href="/deletecustomer/{{this.cusid}}" class="active" ui-toggle-class="">
                <i class="fa fa-times text-danger text"></i>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>